---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

Invited Talks
======
{% assign invited_talks = site.talks | where:"type","Invited Talk" %}
{% for post in invited_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

Conferences
======

Oral Presentations
------
{% assign oral_talks = site.talks | where:"type","Oral Presentation" %}
{% for post in oral_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

Poster Presentations
------
{% assign poster_talks = site.talks | where:"type","Poster Presentation" %}
{% for post in poster_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
