/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */
html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
  
  scroll-behavior: smooth;
  
  /* Flexbox layout for sticky footer */
  display: flex;
  flex-direction: column;
}

body {
  /* Set via _themes.scss */
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  margin: 0;
  padding: $masthead-height 0 0;
  font-family: $global-font-family;
  line-height: 1.5;
  
  /* Flexbox for sticky footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;

  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 0.5em;
  line-height: 1.2;
  font-family: $header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $type-size-3;
}

h2 {
  font-size: $type-size-4;
}

h3 {
  font-size: $type-size-5;
}

h4 {
  font-size: $type-size-6;
}

h5 {
  font-size: $type-size-6;
}

h6 {
  font-size: $type-size-6;
}

small, .small {
  font-size: $type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid var(--global-text-color);
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}
